@using DanismaSira.Models.ViewModels;
@model RegistrationListVM;
@{
    ViewData["Title"] = "Index";

}

<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Kayıt Listesi</h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-primary" asp-action="CreateRegistration"><i class="fas fa-plus"></i> &nbsp; Yeni Kayıt Oluştur</a>
    </div>
</div>
<div class="card mb-4 mt-2">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Departman Adı</th>
                        <th>İsim</th>
                        <th>Soyisim</th>
                        <th>TC/İtü Sicil Numarası</th>
                        <th>Tarih</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Registration in Model.Registrations)
                    {
                        <tr>
                            <td>@Registration.Department.departmentName</td>
                            <td>@Registration.User.Name</td>
                            <td>@Registration.User.Surname</td>
                            <td>@Registration.User.TcOrItuNumber</td>
                            <td>@Registration.CreatedOn</td>
                            
                            <td>
                                <a class="btn btn-sm btn-danger" asp-controller="Registration" asp-action="DeleteRegistration" asp-route-id="@Registration.RegistrationId" onclick="return confirm('Bu kaydı silmek istediğinize emin misiniz?')">Sil</a>
                                
                            </td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
